@page "/login"
@using InstitutoServices.Models.Login
@inject FirebaseAuthService AuthService
@inject NavigationManager NavigationContext
@inject SweetAlertService SweetAlert





@if (!IsAuthenticated)
{
    <h3>Iniciar sesión</h3>

    <EditForm Model="usuario" OnValidSubmit="IniciarSesion">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="email">Email</label>
            <InputText class="form-control mb-2" type="text" @bind-Value="usuario.Email" />
        </div>
        <div class="form-group">
            <label for="clave">Contraseña</label>
            <InputText class="form-control mb-2" type="password" @bind-Value="usuario.Password" />
        </div>
        <div class="form-group">
            <label>Recordar contraseña</label>
            <InputCheckbox  @bind-Value="remenberPassword" />
        </div>
        <ValidationSummary />
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <button class="btn btn-primary" @onclick="Resgistrarse">Resgistrarse</button>
        <button class="btn btn-primary" @onclick="LoginGoogle">Google</button>


    </EditForm>
}
else
{
    <button class="btn btn-primary" @onclick="CerrarSesion">Cerrar sesión</button>
}


@code {

    bool  remenberPassword { get; set; } = false;
    Usuario usuario { get; set; } =new Usuario();

    bool IsAuthenticated { get; set; }=false;

    protected async override Task OnInitializedAsync()
    {
        IsAuthenticated = await AuthService.IsUserAuthenticated();

    }

    private async Task IniciarSesion()
    {
        FirebaseUser user = await AuthService.SignInWithEmailPassword(usuario.Email, usuario.Password, remenberPassword);
        //logger.LogInformation($"la confirmacion del email es igual a:{user.EmailVerified}");
        if (!user.EmailVerified)
        {
            await SweetAlert.FireAsync(new SweetAlertOptions
                {
                    Title = "Verificacion de Email",
                    Text = $"Debe verificar su email para poder continuar",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = false,
                    ConfirmButtonText = "Aceptar",
                });
        }
        IsAuthenticated = await AuthService.IsUserAuthenticated();
        StateHasChanged();
    }

    private async Task CerrarSesion()
    {
        await AuthService.SignOut();
        usuario = new Usuario();
        IsAuthenticated = await AuthService.IsUserAuthenticated();
        StateHasChanged();
    }

    private async  Task Resgistrarse()
    {
        NavigationContext.NavigateTo("/registrarse");
    }
    private  async void LoginGoogle()
    {
        await AuthService.LoginWithGoogle();
        


    }
}